#gc_information {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

#image_gc,
#image_govisle,
#image_cp {
    max-width: 100%;
    width: 100%;
}

#gc-learnmore-h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

#gc_text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    width: 80%;
}

#accomodation {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    background-color: white;
}

#accomodation-text-h4,
#menu-text-h4 {
    margin-top: 20px;
    text-align: center;
}

#accomodation-row,
#dining-row {
    margin-top: 40px;
}

#glamping-grand-central {
    width: 100%;
    margin: auto;
}

#accomodation_h6 {
    text-align: center;
    margin-bottom: 30px;
}

#accomodation_p {
    text-align: center;
}

.accomodation_list_details {
    padding: 5px;
}

#dining {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;
}

#dining_h6 {
    text-align: center;
    margin-bottom: 30px;
}

#gc-dining-img {
    width: 100%;
}

#directions {
    background-color: white;
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 20px;
}

#directions-text-h4 {
    margin-top: 20px;
    text-align: center;
}

#directions-text {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    width: 80%;
    justify-content: center;
}

#google-map {
    margin-top: 20px;
    width: 500px; 
    height: 500px;
}

#book-now-div {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#book-now-div-btn {
    width: 100px;
}

@media screen and (max-width: 991px) {
    #accomodation_h6 {
        margin-top: 40px;
    }

    #dining_h6 {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    #gc_photo {
        width: 900px !important;
        height: 300px;
    }

    #gc_learnmore_h2 {
        margin-top: 35px;
        text-align: center;
        font-size: 25px;
    }

    #accomodation_p {
        margin-top: 40px;
    }

    #gc-dining-img {
        width: 100%;
    }

    #google-map {
        height: 300px;
    }

}
