body {
    box-sizing: border-box;
}

#sign-in-container {
    width: 380px;
    height: 300px;
    border-radius: 4px;
    margin: auto;
    position: relative;
    top: 100px;
}

#please-login {
    text-align: center;
    color: #212121;
}

#forgot-password {
    margin-top: 10px;
    cursor: pointer;
}

/* #register {
    text-align: center;
    color: #212121;
} */

.form-group {
    margin-bottom: 0 !important;
}

.form-control {
    border-radius: 4px;
}

.btn  {
    margin-top: 20px;
    width: 100%;
    border-radius: 4px;
}

#login {
    margin-top: 30px;
    background-color: #373737;
    color: #f5f5f5;
}

#createAccount, #signUp{
    background-color: orange;
}

@media screen and (max-width: 640px) {
    #sign-in-container {
        margin: auto;
        position: relative;
        top: 80px;
    }
}
