* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
  color: #212121;
}

#nav-container {
  height:auto!important;
  background-color: orange;
}

.navbar {
  background: orange;
  width: 100%;
}

.navbar-nav {
  margin-top: 5px;
}

#blue-llama-heading {
  font-size: 35px;
  letter-spacing: -1px;
  word-spacing: -3px;
  color: #212121;
}

#retreats-heading {
  font-size: 20px;
  letter-spacing: 0;
  color: #212121;
}

.nav-item {
  padding-right: 15px !important;
  font-size: 18px;
  color: #212121;
}

#slide-images {
  margin: 0;
}

.col-12-images {
  padding: 0 !important;
}

#slideShow {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#tagline {
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
}

#blue-blurb {
  width: 50%;
  margin: auto;
  text-align: center;
}

#col-lg-12 {
  padding: 0 !important;
}

.card {
  width: 100%;
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.title-h5 {
  color: white;
}

.card-text {
  color: white;
  margin-bottom: 10px !important;
}

a:link {
  text-decoration: none;
}
.card-link {
  margin-top: 10px;
  color: orange;
}

.card-footer {
  background-color: orange;
}

#footer-text {
  padding-top: 10px !important;
}

/* .slick-dots {
    background-color: pink;
} */

@media screen and (max-width: 991px) {
  .card {
    width: 80%;
    margin-bottom: 10px;
  }

  #blue-blurb {
    width: 60%;
  }

  .card-img-top {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  #tagline {
    margin-top: 10px;
    font-size: 25px;
  }

  #blue-blurb {
    width: 70%;
  }
  /* .slick-slide{
      width: 100% !important;
    } */

  .slider {
    width: 1000px !important;
    height: 300px;
    position: relative;
    right: 20%;
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }

  #blue-blurb {
    width: 80%;
  }
  .slider {
    width: 900px;
    height: 300px;
    position: relative;
    right: 35%;
  }
  .card-img-top {
    width: 100%;
    height: 240px;
  }
}

@media screen and (max-width: 460px) {
  .slider {
    /* width: 900px;
    height: 300px; */
    position: relative;
    right: 65%;
  }
}
