<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/confirmation.css" />
  <title>Blue Llama</title>
</head>

<body>
  <header>
    <div id="nav-container" class="nav-base"></div>
  </header>

  <div class="container reservation-div">
    <!-- <h3 id="confirmation-h3"></h3> -->
    <div class="card confirmation-card">
      <div class="card-body">
        <h4 id="card-h3-text"class="card-title"></h4>
        <p id="card-h3p-text" class="card-text">Here are your confirmation details</p>
      </div>
      <ul class="list-group list-group-flush">
        <li id="locationDisplay" class="list-group-item"></li>
        <li id="priceDisplay" class="list-group-item"></li>
        <li id="list-name" class="list-group-item"></li>
        <li id="emailDisplay" class="list-group-item"></li>
        <li id="phoneNumber" class="list-group-item"></li>
        <li id="roomDisplay" class="list-group-item"></li>
        <li id="numberOfGuestDisplay" class="list-group-item"></li>
        <li id="checkInDateDisplay" class="list-group-item"></li>
        <li id="checkOutDateDisplay" class="list-group-item"></li>
        <li id="specialRequestDisplay" class="list-group-item"></li>
      </ul>
    
      <div class="container button-div text-center">
          <button id="logOut" class="btn btn-dark btn-action">Log Out</button>
      </div>
    </div>
  </div>

  <br/>
  <br>
  <br>
  <br>
   <!-- footer -->
  <div class="card-footer text-black text-center">
    <p id="footer-text">© 2019 Blue Llama </p>    
  </div> 



  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <!-- <script src="../assets/javascript/hideShowAccount.js"></script> -->
  <script src="../assets/javascript/initializeFirebase.js"></script>
  <script src="../assets/javascript/booking.js"></script>
  <script src="../assets/javascript/hideShowAccount.js"></script>
</body>

</html>
