<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/learn_more.css" />
    <title>Blue Llama</title>
  </head>

  <body>
    <header>
      <div id="nav-container" class="nav-base"></div>
    </header>

    <div id="gc_information" class="container container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="gc_photo">
            <img
              id="image_gc"
              src="../assets/images/grandcentraceil.jpg"
              alt="gc_image"
            />
          </div>
          <h2 id="gc-learnmore-h2">GRAND CENTRAL NIGHTS</h2>
        </div>
      </div>

      <div id="gc_text" class="container">
        <div class="row">
          <div class="col-12">
            <p id="gc_p">
              Sleep under the stars of one of New York's most majestic
              buildings. An extraordinary amalgam of technological
              sophistication and architectural wonder, Grand Central is a
              surprising oasis in the heart of Manhattan.
            </p>
          </div>
        </div>
      </div>

      <div id="accomodation" class="container">
        <h4 id="accomodation-text-h4">WHERE YOU WILL STAY</h4>
        <div id="accomodation-row" class="row">
          <div class="col-lg-7">
            <img
              id="glamping-grand-central"
              src="../assets/images/glamping_grandcentral.jpg"
              alt="grand-central-tent"
            />
          </div>
          <div class="col-lg-5">
            <h6 id="accomodation_h6">SUMMIT TENTS</h6>
            <p id="accomodation_p">
              Where luxury and rustic style meet. Summit Tents provide privacy
              and the ultimate elevated camping experience.
            </p>
            <ul id="accomodation_list">
              <li class="accomodation_list_details">
                King bed or two single beds (a rollaway bed can be added upon
                request at an additional cost of $100)
              </li>
              <li class="accomodation_list_details">
                1,500 thread-count linens, down comforter, and designer-curated
                blanket
              </li>
              <li class="accomodation_list_details">
                Private, en suite bathroom with rain-style shower, full flush
                toilet, and hot running water
              </li>
              <li class="accomodation_list_details">
                Complimentary dining and cocktails
              </li>
              <li class="accomodation_list_details">
                Environmentally-friendly spa bath products and amenities,spa
                robes, and plush Turkish towels
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="dining" class="container">
        <h4 id="menu-text-h4">NORDIC DINING EXPERIENCE</h4>
        <div id="dining-row" class="row">
          <div id="dining-col" class="col-lg-7">
            <img
              id="gc-dining-img"
              src="../assets/images/agern-nyc.jpg"
              alt="dining"
            />
          </div>
          <div class="col-lg-5">
            <h6 id="dining_h6">DINNER</h6>
            <p id="dining-description">
              Agern, meaning “Acorn” in Danish, is a season-driven restaurant
              and bar, located at Grand Central Terminal, tucked away between
              Vanderbilt Hall and the 42nd street southwestern passageway
              entrance.
              <br />
              <br />
              The menu, from the hands of Icelandic head chef Gunnar Gíslason
              and his team, features farmed and wild ingredients from the New
              York State region exposed to time-honored techniques, and flavors
              rooted in Nordic Cuisine.
              <br />
              <br />
              Gíslason and his team will be serving you and other guests a ten
              course meal, curated for the occasion, at the heart of the
              campsite in the main concourse.
            </p>
          </div>
        </div>
      </div>

      <div id="directions" class="container">
        <h4 id="directions-text-h4">HOW TO GET THERE</h4>
        <div id="directions-text" class="row">
          <div class="col-lg-12">
            <p id="directions-p">
              Grand Central Terminal is located at 89 E. 42nd Street at Park
              Avenue and is accessible by subway, bus, train and airport
              shuttle. There are a number of public parking garages located
              close to the Terminal.
            </p>
          </div>
          <iframe
            id="google-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.4227310170177!2d-73.97941808527308!3d40.75272617932748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a21fb011c85%3A0x37513b7f1821408b!2sGrand+Central+Terminal!5e0!3m2!1sen!2sus!4v1551832254420"
            frameborder="0"
            style="border:0"
            allowfullscreen
          ></iframe>
        </div>
        <div id="book-now-div" class="container text-center">
          <a
            href="signUp.html"
            id="book-now-div-btn"
            class="btn btn-warning book-now"
            >Book Now</a
          >
        </div>
      </div>
    </div>

    <div class="card-footer text-black text-center">
      <p id="footer-text">© 2019 Blue Llama</p>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script src="../assets/javascript/initializeFirebase.js"></script>
    <script src="../assets/javascript/hideShowAccount.js"></script>
  </body>
</html>
