<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blue Llama</title>
    <link rel="stylesheet" href="../assets/css/googlemaps.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>

  <body>
    <header>
      <div id="nav-container" class="nav-base"></div>
    </header>
  
    <!-- google maps container -->
    <div id="map"></div>

    <!-- #loc1 content -->
    <div id="loc1">
      <button id="loc1Btn" type="button" class="btn btn-primary">Central Park</button>
    </div>
    <!-- #loc2 content -->
    <div id="loc2">
      <button id="loc2Btn" type="button" class="btn btn-primary">Grand Central Station</button>
    </div>
    <!-- #loc3 content -->
    <div id="loc3">
      <button id="loc3Btn" type="button" class="btn btn-primary">Governors Island</button>
    </div>

    <!-- weather container -->
    <div id="weather" class="container">
      
      <h3 id="forecast-h3">New York 5 Day Weather</h3>

      <div class="row">
        <div class="col">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 id="date1" class="card-title"></h5>
              <h4 id="temp1"></h4>
              <img id="icon1" src="" alt="weather-icon">
              <p id="forecast1" class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 id="date2" class="card-title"></h5>
              <h4 id="temp2"></h4>
              <img id="icon2" src="" alt="weather-icon">
              <p id="forecast2" class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 id="date3" class="card-title"></h5>
              <h4 id="temp3"></h4>
              <img id="icon3" src="" alt="weather-icon">
              <p id="forecast3" class="card-text"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 id="date4" class="card-title"></h5>
              <h4 id="temp4"></h4>
              <img id="icon4" src="" alt="weather-icon">
              <p id="forecast4" class="card-text"></p>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 id="date5" class="card-title"></h5>
              <h4 id="temp5"></h4>
              <img id="icon5" src="" alt="weather-icon">
              <p id="forecast5" class="card-text"></p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <br>
    <br>
    <br>
    <!-- footer -->
    <div class="card-footer text-black text-center">
      <p id="footer-text">© 2019 Blue Llama </p>    
    </div> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="../assets/javascript/googlemaps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYbxI7yeH2FdCaON4DdDkNhwlIOV8QQuQ&callback=initMap"
      async defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="../assets/javascript/initializeFirebase.js"></script>
    <script src="../assets/javascript/weather.js"></script>
    <script src="../assets/javascript/hideShowAccount.js"></script>

  </body>
</html>