<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
  <link rel="stylesheet" href="../assets/css/style.css" />
  <link rel="stylesheet" href="../assets/css/retreat.css" />
  <title>Blue Llama</title>
</head>

<body>
  <header>
    <div id="nav-container" class="nav-base"></div>
  </header>

  <div id="retreatsDiv" class="container">
    <br />
    <br />
    <div class="row">
      <div class="col-md-7">
        <img id="grand-central" src="../assets/images/grand-central.png" alt="grand-central" />
      </div>

      <div class="col-md-5 info">
        <h2 class="col-5-h2">Grand Central Nights</h2>
        <p class="col-5-text">
          "In the subterranean depths of Manhattan, a huge space was carved
          out, where trains could be boarded from platforms at two different
          levels. Grand Central, the world's loveliest station."
          <br />
          <span>-David Cannadine</span>
        </p>
        <span class="col-5-price">$268</span>
        <br />
        <a href="signUp.html" class="btn btn-warning book-now">Book Now</a>
        <a href="learn_gc.html" class="btn btn-dark learn-more">Learn More</a>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-7">
        <img id="central-park" src="../assets/images/centralpark.jpg" alt="central-park" />
      </div>
      <div class="col-md-5 info">
        <h2 class="col-5-h2">Central Park Nights</h2>
        <p class="col-5-text">
          "There is no place like it, no place with an atom of its glory,
          pride, and exultancy."
          <br />
          <span>-Walt Whitman</span>
        </p>
        <span class="col-5-price">$198</span>
        <br />
        <a href="signUp.html" class="btn btn-warning book-now">Book Now</a>
        <a href="learn_cp.html" class="btn btn-dark learn-more">Learn More</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-7">
        <img id="highline" src="../assets/images/gov_dinner_crop.png" alt="highline" />
      </div>
      <div class="col-md-5 info">
        <h2 class="col-5-h2">Governor's Island Nights</h2>
        <p class="col-5-text">
          “It is always the city seen for the first time, in its first wild
          promise of all the mystery and the beauty in the world.”
          <span>-F. Scott Fitzgerald</span>
        </p>

        <span class="col-5-price">$128</span>
        <br />
        <a href="signUp.html" class="btn btn-warning book-now">Book Now</a>
        <a href="learn_gov.html" class="btn btn-dark learn-more">Learn More</a>
        <br />
        <br />
      </div>
    </div>
  </div>
  <br />
  <br />
  <!-- footer -->
  <div class="card-footer text-black text-center">
    <p id="footer-text">© 2019 Blue Llama</p>
  </div>

  <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../assets/javascript/initializeFirebase.js"></script>
  <script src="../assets/javascript/hideShowAccount.js"></script>


</body>

</html>