<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/signinform.css" />
    <title>Blue Llama</title>
  </head>

  <body>
    <header>
      <div id="nav-container" class="nav-base"></div>
    </header>

    <div id="sign-in-container" class="container">
      <h3 id="please-login">Please Login</h3>
      <h3 id="register" class="text-center">Join Us</h3>
      <h3 id="passwordReset" class="text-center">Password Reset</h3>
      <div id="signin-form" class="form-group name">
        <label for="inputEmail"></label>
        <input
          type="text"
          class="form-control"
          id="firstNameInput"
          placeholder="Enter Name"
          required
        />
      </div>
      <div class="form-group email">
        <label for="inputEmail"></label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group password">
        <label for="inputPassword"></label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <div>
        <button id="login" class="btn btn-action">Login</button>
        <button id="password-reset" class="btn btn-primary btn-action">
          send
        </button>
        <p id="forgot-password" class="mb-2">Forgot your password?</p>
        <button id="createAccount" class="btn signup mb-2">
          Create an account
        </button>
        <button id="signUp" class="btn signup">Signup</button>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../assets/javascript/initializeFirebase.js"></script>
    <script src="../assets/javascript/hideShowAccount.js"></script>
    <script src="../assets/javascript/signUp.js"></script>
  </body>
</html>
